*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

header{
    height: 100%;
    width: 100%;
    background-color: pink;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    height: 80%;
    /* background-color: aqua; */
    top: 10%;
    left: 10%;
    position: absolute;
    display: flex;
    box-shadow: 0 4px 8px 5px black;
}

.left{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 0, 55);
    text-align: center;
}

.left h1{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    color: white;
    font-weight: bold;
    transition: .6s ease;
}

.left h1:hover{
    color: black;
}

.left p{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 25px;
    line-height: 30px;
    letter-spacing: 2px;
}

.left button{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: blue;
    font-weight: bold;
    transition: 0.6s ease;
}

.left button:hover{
    background-color: rgb(71, 71, 209);
    color: black;
}
.right{
    height: 100%;
    width: 50%;
    text-align: center;
    background-color: white;
}

.right h1{
    font-size: 40px;
    text-align: center;
    margin: 40px;
    font-weight: bold;
    transition: .6s ease;
}

.right h1:hover{
    color: orangered;
}

.right input{
    font-size: 20px;
    padding: 5px;
    background-color: rgb(203, 199, 199);
    border: none;
    border-radius: 2px;
    border: 1px solid black;
    transition: .6s ease;
}

.right input:hover{
    background-color: white;
    
}

.login{
    background-color: orangered;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    transition: .6s ease;
}

.login:hover{
    background-color: rgb(71, 71, 209);
    color: black;
}

.btn{
    margin: 60px;
    font-size: 15px;
    padding: 8px;
    color: white;
    background-color: rgb(50, 50, 187);
    border: none;
    border-radius: 5px;
    transition: .6s ease;
}

.btn:hover{
    background-color: orangered;
    color: black;
}

